<div class="flex items-center gap-3">
  <z-button class="cursor-pointer" zType="ghost" zSize="icon-sm" (click)="onVisualizar()">
    <ng-icon name="lucideEye" class="size-4" />
  </z-button>

  <z-button class="cursor-pointer" zType="ghost" zSize="icon-sm" (click)="onEditar()">
    <ng-icon name="lucidePencil" class="size-4" />
  </z-button>

  <z-button class="cursor-pointer" zType="ghost" zSize="icon-sm" (click)="onExcluir()">
    <ng-icon name="lucideTrash2" class="size-4 text-destructive" />
  </z-button>
</div>
