  DB_HOST=
  DB_PORT=5432
  DB_USER=
  DB_PASS=
  DB_NAME=
  JWT_SECRET=
  TZ=America/Manaus
  PORT=
  SQLITE_URL=file:./src/database/data/dev.db

  CLOUDINARY_API_KEY=
  CLOUDINARY_API_SECRET=
  CLOUDINARY_HOST=